In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
import warnings
warnings.filterwarnings("ignore")

In [44]:
train_input=pd.read_csv("C:\\Users\\robotics\\Desktop\\git\\logistic regression\\Credit_Risk_Train_data.csv")
test_input=pd.read_csv("C:\\Users\\robotics\\Desktop\\git\\logistic regression\\Credit_Risk_Validate_data.csv")

In [45]:
print (train_input.columns)
print (test_input.columns)

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')
Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'outcome'],
      dtype='object')

In [46]:
#the last column has a different name in both,
#making the names same. and then merge them togehter
#so that we can fill the missing values simulteneously
test_input.rename(columns={"outcome": "Loan_Status"},inplace=True)

In [47]:
all=pd.concat([train_input,test_input],axis=0)
all.shape

(981, 13)

In [48]:
print(all.tail())
all.reset_index(inplace=True,drop=True)# reset index else merging will have
#issues,

      Loan_ID Gender Married Dependents     Education Self_Employed  \
362  LP002971   Male     Yes         3+  Not Graduate           Yes
363  LP002975   Male     Yes          0      Graduate            No
364  LP002980   Male      No          0      Graduate            No
365  LP002986   Male     Yes          0      Graduate            No
366  LP002989   Male      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
362             4009             1777.0       113.0             360.0
363             4158              709.0       115.0             360.0
364             3250             1993.0       126.0             360.0
365             5000             2393.0       158.0             360.0
366             9200                0.0        98.0             180.0

     Credit_History Property_Area Loan_Status
362             1.0         Urban           Y
363             1.0         Urban           Y
364             NaN     Semiurban           Y
365             1.0         Rural           N
366             1.0         Rural           Y

In [49]:
all.isnull().sum()#gives the missing value of all columns

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [50]:
all.shape # read the decription of each column from the word document

(981, 13)

In [51]:
#filling the missing values

In [52]:
Counter(all['Gender'])

Counter({'Male': 775, 'Female': 182, nan: 24})

In [53]:
# filling them by Male
print(all[all['Gender'].isnull()].index.tolist())
# these rows are null for gender
# fill them with the Model of Gender  i.e Male
gender_null=all[all['Gender'].isnull()].index.tolist()

[23, 126, 171, 188, 314, 334, 460, 467, 477, 507, 576, 588, 592, 636, 665, 720, 752, 823, 845, 859, 893, 910, 917, 932]

In [54]:
all['Gender'].iloc[gender_null]="Male"

In [56]:
Counter(all['Gender'])

Counter({'Male': 799, 'Female': 182})

In [58]:
# fill Married now
print (Counter(all['Married']))#most are married

Counter({'Yes': 631, 'No': 347, nan: 3})

In [59]:
married_null=all[all['Married'].isnull()].index.tolist()
married_null

[104, 228, 435]

In [60]:
all['Married'].iloc[married_null]="Yes"

In [61]:
all.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [62]:
Counter(all['Dependents'])

Counter({'0': 545, '1': 160, '2': 160, '3+': 91, nan: 25})

In [63]:
# see the Dependents wrt Marriage
pd.crosstab(all['Married'],all['Dependents'].isnull())

Dependents  False  True
Married
No            338      9
Yes           618     16

In [64]:
pd.crosstab(all['Dependents'],all['Married'])

Married      No  Yes
Dependents
0           276  269
1            36  124
2            14  146
3+           12   79

In [66]:
# for the bacheors, lets fill the missing dependents as 0
#finding the index of all rows with Depednednts mssing and Married NO
bachelor_nulldependent=all[(all['Married']=="No") & (all['Dependents'].isnull())].index.tolist()
print (bachelor_nulldependent)

[293, 332, 355, 597, 684, 752, 879, 916, 926]

In [67]:
all['Dependents'].iloc[bachelor_nulldependent]='0'

In [68]:
Counter(all['Dependents'])

Counter({'0': 554, '1': 160, '2': 160, '3+': 91, nan: 16})

In [69]:
#for the remaining 16 missing depemdents,
#let see how mnay dependents Male & Female have
pd.crosstab(all['Gender'],all['Dependents'])

Dependents    0    1    2  3+
Gender
Female      127   32   13   9
Male        427  128  147  82

In [70]:
# so female have less dependents
#see the gender of the 16 missing dependents
all['Gender'].iloc[all[all['Dependents'].isnull()].index.tolist()]

102      Male
104      Male
120      Male
226      Male
228      Male
301      Male
335      Male
346      Male
435    Female
517      Male
571      Male
660      Male
725      Male
816      Male
861      Male
865      Male
Name: Gender, dtype: object

In [71]:
# all of them are Male
# fill them with the mode of all dependent of male
pd.crosstab(all['Gender'],all['Dependents'])

Dependents    0    1    2  3+
Gender
Female      127   32   13   9
Male        427  128  147  82

In [72]:
#fill the # dependent with 1
all['Dependents'].iloc[all[all['Dependents'].isnull()].index.tolist()]="0"

In [73]:
all.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [74]:
Counter(all['Self_Employed'])

Counter({'No': 807, 'Yes': 119, nan: 55})

In [75]:
self_emp_null=all[all['Self_Employed'].isnull()].index.tolist()

In [76]:
#fill missing selfemployed with NO
all['Self_Employed'].iloc[self_emp_null]="No"

In [77]:
all.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [78]:
pd.crosstab(all['LoanAmount'].isnull(),all['Loan_Amount_Term'])

Loan_Amount_Term,6.0,12.0,36.0,60.0,84.0,120.0,180.0,240.0,300.0,350.0,360.0,480.0
LoanAmount,,,,,,,,,,,,
False,1,2,3,3,7,4,64,7,20,1,800,22
True,0,0,0,0,0,0,2,1,0,0,23,1

In [79]:
all.groupby(all['Loan_Amount_Term'])['LoanAmount'].mean()

Loan_Amount_Term
6.0       95.000000
12.0     185.500000
36.0     117.666667
60.0     139.666667
84.0     121.142857
120.0     36.750000
180.0    131.125000
240.0    128.857143
300.0    166.250000
350.0    133.000000
360.0    144.420000
480.0    137.181818
Name: LoanAmount, dtype: float64

In [80]:
#filling the missing values in LoanAmount 
#with the mean of the respective Loan_Term
#we see that 180 & 240 has the almost same Loan amount 128-131
#& 360 has high i.e 144
#so lets fill only 360 by 144 
#and all remaining by 130
all['LoanAmount'][(all['LoanAmount'].isnull()) & (all['Loan_Amount_Term']==360)]=144

In [81]:
all['LoanAmount'][(all['LoanAmount'].isnull())]=130

In [82]:
#filling Loan Amount Term
(all['Loan_Amount_Term']).value_counts()

360.0    823
180.0     66
480.0     23
300.0     20
240.0      8
84.0       7
120.0      4
36.0       3
60.0       3
12.0       2
350.0      1
6.0        1
Name: Loan_Amount_Term, dtype: int64

In [83]:
#find the Loan Tenure by the mode i,e 512
all['Loan_Amount_Term'][all['Loan_Amount_Term'].isnull()]=360

In [84]:
all.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [85]:
all['Credit_History'].value_counts()

1.0    754
0.0    148
Name: Credit_History, dtype: int64

In [86]:
pd.crosstab(all['Gender'],all['Credit_History']) 
# Gender makes no difference

Credit_History  0.0  1.0
Gender
Female           30  135
Male            118  619

In [87]:
pd.crosstab(all['Self_Employed'],all['Credit_History'])
# Self_Employed makes no difference

Credit_History  0.0  1.0
Self_Employed
No              134  658
Yes              14   96

In [88]:
pd.crosstab(all['Education'],all['Credit_History'])
# Education makes no difference

Credit_History  0.0  1.0
Education
Graduate        106  596
Not Graduate     42  158

In [89]:
pd.crosstab(all['Married'],all['Credit_History'])
# married makes no difference

Credit_History  0.0  1.0
Married
No               56  263
Yes              92  491

In [90]:
# run a logistic regression to fill the Credit History for the 79 missing values

In [91]:
all.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       79
Property_Area         0
Loan_Status           0
dtype: int64

In [92]:
#preparing a train set which has all values of Credit History present
#make the rows having Credit History missig as test set
#before spliting create the dummies
all.columns
#convert one columns at a time by using pd.get_dummies or use
all_new=pd.get_dummies(all.drop(['Loan_ID'],axis=1),drop_first=True)

In [93]:
all_new.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,5849,0.0,144.0,360.0,1.0,1,0,0,0,0,0,0,0,1,1
1,4583,1508.0,128.0,360.0,1.0,1,1,1,0,0,0,0,0,0,0
2,3000,0.0,66.0,360.0,1.0,1,1,0,0,0,0,1,0,1,1
3,2583,2358.0,120.0,360.0,1.0,1,1,0,0,0,1,0,0,1,1
4,6000,0.0,141.0,360.0,1.0,1,0,0,0,0,0,0,0,1,1

In [94]:
all_new.isnull().sum()

ApplicantIncome             0
CoapplicantIncome           0
LoanAmount                  0
Loan_Amount_Term            0
Credit_History             79
Gender_Male                 0
Married_Yes                 0
Dependents_1                0
Dependents_2                0
Dependents_3+               0
Education_Not Graduate      0
Self_Employed_Yes           0
Property_Area_Semiurban     0
Property_Area_Urban         0
Loan_Status_Y               0
dtype: int64

In [95]:
#split into train test
test=all_new[all_new['Credit_History'].isnull()]
all_in_test=test.index.tolist()
test.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
16,3596,0.0,100.0,240.0,NaN,1,0,1,0,0,1,0,0,1,1
24,3717,2925.0,151.0,360.0,NaN,1,1,1,0,0,0,0,1,0,0
30,4166,3369.0,201.0,360.0,NaN,1,1,1,0,0,0,0,0,1,0
42,2400,0.0,75.0,360.0,NaN,1,1,0,0,0,0,0,0,1,1
79,3333,2166.0,130.0,360.0,NaN,1,1,0,0,1,1,1,1,0,1

In [96]:
all_in_train=[x for x in all_new.index.tolist() if x not in all_in_test]
train=all_new.iloc[all_in_train]
train.shape

(902, 15)

In [97]:
X_train=train.drop(['Loan_Status_Y','Credit_History'],axis=1)
Y_train=train['Credit_History']

In [98]:
X_test=test.drop(['Loan_Status_Y','Credit_History'],axis=1)
Y_test=test['Credit_History']

In [99]:
#logistic regression
from sklearn.linear_model import LogisticRegression
log_reg=LogisticRegression()
log_reg.fit(X_train,Y_train)

LogisticRegression()

In [100]:
pred=log_reg.predict(X_test)

In [102]:
#replace the Nan's in the test with these values
test['Credit_History']=pred
print (pred)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1.]

In [103]:
#remerge the train & test
df_all=pd.concat([train,test],axis=0)

In [104]:
df_all.shape

(981, 15)

In [105]:
df_all.head()
df_all.isnull().sum()

ApplicantIncome            0
CoapplicantIncome          0
LoanAmount                 0
Loan_Amount_Term           0
Credit_History             0
Gender_Male                0
Married_Yes                0
Dependents_1               0
Dependents_2               0
Dependents_3+              0
Education_Not Graduate     0
Self_Employed_Yes          0
Property_Area_Semiurban    0
Property_Area_Urban        0
Loan_Status_Y              0
dtype: int64

In [106]:
#split back into the original train & test 
train2=df_all.head(len(train_input))
test2=df_all.tail(len(test_input))

In [107]:
X_train=train2.drop(['Loan_Status_Y'],axis=1)
Y_train=train2['Loan_Status_Y']
X_test=test2.drop(['Loan_Status_Y'],axis=1)
Y_test=test2['Loan_Status_Y']

In [108]:
Y_test.value_counts()

1    282
0     85
Name: Loan_Status_Y, dtype: int64

# SVM in Python

In [109]:
from sklearn.svm import SVC
model=SVC()
model.fit(X_train,Y_train)

SVC()

In [110]:
#above the default values of C & gamma is taken
pred=model.predict(X_test)

In [111]:
from sklearn.metrics import classification_report,confusion_matrix

In [112]:
print(classification_report(Y_test,pred))

              precision    recall  f1-score   support

           0       0.50      0.01      0.02        85
           1       0.77      1.00      0.87       282

    accuracy                           0.77       367
   macro avg       0.63      0.50      0.45       367
weighted avg       0.71      0.77      0.67       367

In [113]:
print(confusion_matrix(Y_test,pred))

[[  1  84]
 [  1 281]]

In [116]:
print (Counter(test2['Loan_Status_Y']))
baselin_acccuracy=float(282)/(282+85)
print (baselin_acccuracy)
Accuracy=float(282+1)/(282+1+84)
Accuracy # not very good compared to basline

Counter({1: 282, 0: 85})
0.7683923705722071

0.771117166212534

In [118]:
#lets play with the C & gamma parameter in SVM


from sklearn import svm, datasets
from sklearn.model_selection import GridSearchCV

In [119]:
param_grid={'C':[0.001,0.01],
           'gamma':[1,0.08,0.09],
           'kernel': ['linear']}

In [120]:
grid=GridSearchCV(SVC(),param_grid,verbose=2)

In [121]:
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits
[CV] C=0.001, gamma=1, kernel=linear .................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] .................. C=0.001, gamma=1, kernel=linear, total=  24.7s
[CV] C=0.001, gamma=1, kernel=linear .................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   24.6s remaining:    0.0s

[CV] .................. C=0.001, gamma=1, kernel=linear, total=  13.6s
[CV] C=0.001, gamma=1, kernel=linear .................................
[CV] .................. C=0.001, gamma=1, kernel=linear, total=  14.2s
[CV] C=0.001, gamma=1, kernel=linear .................................
[CV] .................. C=0.001, gamma=1, kernel=linear, total= 1.0min
[CV] C=0.001, gamma=1, kernel=linear .................................
[CV] .................. C=0.001, gamma=1, kernel=linear, total=  24.4s
[CV] C=0.001, gamma=0.08, kernel=linear ..............................
[CV] ............... C=0.001, gamma=0.08, kernel=linear, total=  25.3s
[CV] C=0.001, gamma=0.08, kernel=linear ..............................
[CV] ............... C=0.001, gamma=0.08, kernel=linear, total=  13.9s
[CV] C=0.001, gamma=0.08, kernel=linear ..............................
[CV] ............... C=0.001, gamma=0.08, kernel=linear, total=  14.5s
[CV] C=0.001, gamma=0.08, kernel=linear ..............................
[CV] ............... C=0.001, gamma=0.08, kernel=linear, total=  59.1s
[CV] C=0.001, gamma=0.08, kernel=linear ..............................
[CV] ............... C=0.001, gamma=0.08, kernel=linear, total=  22.0s
[CV] C=0.001, gamma=0.09, kernel=linear ..............................
[CV] ............... C=0.001, gamma=0.09, kernel=linear, total=  25.4s
[CV] C=0.001, gamma=0.09, kernel=linear ..............................
[CV] ............... C=0.001, gamma=0.09, kernel=linear, total=  13.8s
[CV] C=0.001, gamma=0.09, kernel=linear ..............................
[CV] ............... C=0.001, gamma=0.09, kernel=linear, total=  14.3s
[CV] C=0.001, gamma=0.09, kernel=linear ..............................
[CV] ............... C=0.001, gamma=0.09, kernel=linear, total=  59.2s
[CV] C=0.001, gamma=0.09, kernel=linear ..............................
[CV] ............... C=0.001, gamma=0.09, kernel=linear, total=  22.2s
[CV] C=0.01, gamma=1, kernel=linear ..................................
[CV] ................... C=0.01, gamma=1, kernel=linear, total=  46.1s
[CV] C=0.01, gamma=1, kernel=linear ..................................
[CV] ................... C=0.01, gamma=1, kernel=linear, total=  33.2s
[CV] C=0.01, gamma=1, kernel=linear ..................................
[CV] ................... C=0.01, gamma=1, kernel=linear, total=  31.2s
[CV] C=0.01, gamma=1, kernel=linear ..................................
[CV] ................... C=0.01, gamma=1, kernel=linear, total= 1.2min
[CV] C=0.01, gamma=1, kernel=linear ..................................
[CV] ................... C=0.01, gamma=1, kernel=linear, total=  25.8s
[CV] C=0.01, gamma=0.08, kernel=linear ...............................
[CV] ................ C=0.01, gamma=0.08, kernel=linear, total=  44.8s
[CV] C=0.01, gamma=0.08, kernel=linear ...............................
[CV] ................ C=0.01, gamma=0.08, kernel=linear, total=  33.2s
[CV] C=0.01, gamma=0.08, kernel=linear ...............................
[CV] ................ C=0.01, gamma=0.08, kernel=linear, total=  31.5s
[CV] C=0.01, gamma=0.08, kernel=linear ...............................
[CV] ................ C=0.01, gamma=0.08, kernel=linear, total= 1.3min
[CV] C=0.01, gamma=0.08, kernel=linear ...............................
[CV] ................ C=0.01, gamma=0.08, kernel=linear, total=  34.6s
[CV] C=0.01, gamma=0.09, kernel=linear ...............................
[CV] ................ C=0.01, gamma=0.09, kernel=linear, total=  47.6s
[CV] C=0.01, gamma=0.09, kernel=linear ...............................
[CV] ................ C=0.01, gamma=0.09, kernel=linear, total=  37.1s
[CV] C=0.01, gamma=0.09, kernel=linear ...............................
[CV] ................ C=0.01, gamma=0.09, kernel=linear, total=  37.0s
[CV] C=0.01, gamma=0.09, kernel=linear ...............................
[CV] ................ C=0.01, gamma=0.09, kernel=linear, total= 1.5min
[CV] C=0.01, gamma=0.09, kernel=linear ...............................
[CV] ................ C=0.01, gamma=0.09, kernel=linear, total=  30.1s

[Parallel(n_jobs=1)]: Done  30 out of  30 | elapsed: 18.0min finished

GridSearchCV(estimator=SVC(),
             param_grid={'C': [0.001, 0.01], 'gamma': [1, 0.08, 0.09],
                         'kernel': ['linear']},
             verbose=2)

In [122]:
print (grid.best_params_)
print (grid.best_estimator_)

{'C': 0.001, 'gamma': 1, 'kernel': 'linear'}
SVC(C=0.001, gamma=1, kernel='linear')

In [123]:
grid_pred=grid.predict(X_test)

In [124]:
Counter(grid_pred)

Counter({1: 367})

In [125]:
print(confusion_matrix(Y_test,grid_pred))

[[  0  85]
 [  0 282]]